In [2]:
import pandas as pd

In [4]:
embeddings = pd.read_pickle("../data/bert_tokens.pkl")
df = pd.read_csv("../data/final_car_reviews.csv")
embeddings.shape, df.shape

((167294,), (167294, 4))

In [6]:
df.drop(columns=["Review_Title"], inplace=True)
df.head(2)

,Vehicle_Title,Review,Rating
0,2007 Volkswagen New Beetle Convertible 2.5 2dr...,beetle convertible 45 year andhave overall hap...,4.5
1,2007 Volkswagen New Beetle Convertible 2.5 PZE...,bought car new 2007 generally satisfied mechan...,4.5

In [7]:
merged_df = pd.concat([df, embeddings.to_frame()], axis=1)
merged_df.head(2)

,Vehicle_Title,Review,Rating,Embeddings
0,2007 Volkswagen New Beetle Convertible 2.5 2dr...,beetle convertible 45 year andhave overall hap...,4.5,"[0.22639257, 0.36218312, 0.08677771, -0.002072..."
1,2007 Volkswagen New Beetle Convertible 2.5 PZE...,bought car new 2007 generally satisfied mechan...,4.5,"[0.12528875, 0.50444865, 0.29752502, -0.359071..."

In [8]:
merged_df.to_pickle("../data/merged_embeddings.pkl")

In [3]:
new_df = pd.read_pickle("../data/merged_embeddings.pkl")
new_df.head(2)

,Vehicle_Title,Review,Rating,Embeddings
0,2007 Volkswagen New Beetle Convertible 2.5 2dr...,beetle convertible 45 year andhave overall hap...,4.5,"[0.22639257, 0.36218312, 0.08677771, -0.002072..."
1,2007 Volkswagen New Beetle Convertible 2.5 PZE...,bought car new 2007 generally satisfied mechan...,4.5,"[0.12528875, 0.50444865, 0.29752502, -0.359071..."

In [4]:
new_df.columns

Index(['Vehicle_Title', 'Review', 'Rating', 'Embeddings'], dtype='object')